<h3>Disculpe ha ocurrido un problema en la plataforma del administrador.</h3>

<div>
    <h3></h3>
    @Html.ActionLink("Regresar", "VisualizarCatalogo", "Peliculas", null, new { atributo = "valor3", @class = "btn btn-primary" })

</div>