<h2>Bienvenido de Guaflix</h2>
<h3></h3>
<h3>Ivan Arango - 1158116</h3>
<h3>Carlos Morales - 1171316</h3>
<h3> </h3>
@Html.ActionLink("Iniciar Sesion", "IniciarSesionGuaflix", "LogIn", null, new { atributo = "valor3", @class = "btn btn-primary" })
